.close-button {
  position: relative;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #666;
}

.close-button:hover {
  color: #333;
}
.appointment-card {
    background-color: #fafafa;
    width: fit-content;
    padding: 25px;
    border: 3px solid #0466c8;
    border-radius: 16px;
    margin-left: 16px;
}
@media screen and (max-width:980px) {
.appointment-card {
    background-color: #fafafa;
    width: fit-content;
    padding: 25px;
    border: 3px solid #0466c8;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
}
}