.close-button {
    background: none;
    border: none;
    color: #666;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 700;
    position: relative;
    width: 10%;
}

.close-button:hover {
  color: #333;
  background: #0466c800;
}
.appointment-card {
    background-color: #fafafa;
    border: 3px solid #0466c8;
    border-radius: 16px;
    margin-left: 16px;
    display: flex;
    padding: 25px;
    width: fit-content;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width:980px) {
.appointment-card {
    background-color: #fafafa;
    width: fit-content;
    padding: 25px;
    border: 3px solid #0466c8;
    border-radius: 16px;
    margin: auto;
    margin-bottom: 20px;
}
}